{% extends 'base.html' %}

{% block body %}

<h2>Loan Calaculator!</h2>
<hr />

<form action="" method="POST">
	<p>
		<label for="loanAmt">
			Loan Amount: <input type="text" name="loanAmt" id="loanAmt" placeholder="Loam Amount..." autofocus required>
		</label>
	</p>

	<p>
		<label for="rate">
			Rate:
			<input type="text" name="rate" id="rate" placeholder="Rate..." required>
		</label>
	</p>

	<p>
		<label for="payments">
			Number of yearly payments:
			<input type="text" name="payments" id="payments" placeholder="Yearly payments..." required>
		</label>
	</p>
	<p>
		<label for="years">
			Years:
			<input type="text" name="years" id="years" placeholder="How many years..." required>
		</label>
	</p>

	<input type="submit" value="Submit">

	<input type="reset" value="Clear">

</form>

<p>
	<h3> {{ display }} </h3>
</p>


{% endblock %}